<h2><strong>Device Information.</strong></h2>

<ul>
    <li>Brand Name: <%= @device.brand_name%></li>
    <li>Device Name: <%= @device.device_name%></li>
    <li>Screen Size: <%=@device.screen_size%></li>
    <li>Battery: <%=@device.battery%></li>
</ul>
